<!DOCTYPE html>
<html>
<head>
	<title>Index</title>
</head>
<body>
	<h2>Hello, world!  Welcome to SATme.  This is still in development, so it's not styled or fully-functional; functionality first, we'll make it pretty once it's doing everything it needs to do.</h2>
	<p>Log In: <form method=POST action="/login_post"><input type=text name="username" placeholder="Username" /><input type=password name="password" placeholder="Password" /><input type=submit value="Log In" /></form></p>
	<p><a href="/login_get">Are you logged in?</a></p>
	<p><a href="/create_acct_get">Create an Account</a></p>
</body>
</html>
