<!DOCTYPE html>
<html>
<head>
	<title>Index</title>
</head>
<body>
	<p>Hello, {{.}}!  This is a template!</p>
	<ul>Check out these demo pages...
		<li><a href="/static/main.html">Static Files</a></li>
		<li><a href="/tmpl">Template Demo</a></li>
		<li><a href="/form_demo">Form Demo</a></li>
		<li><form method=POST action="/session_post"><input type=text name="username" placeholder="Username" /><input type=password name="password" placeholder="Password" /><input type=submit value="Log In" /></form></li>
		<li><a href="/session">View Session</a></li>
		<li>Test our login (username 'a', password 'password'): <form method=POST action="/login_post"><input type=text name="username" placeholder="Username" /><input type=password name="password" placeholder="Password" /><input type=submit value="Log In" /></form></li>
	</ul>
</body>
</html>
